{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>3D Rotation Website</title>
<link rel="stylesheet" href="{% static 'css/3dstyle.css' %}"/>
</head>

<body>
<div class="navigation">
<div class="left">
<select>
<option value="shop">SHOP</option>
<option value="sale">SALE</option>

</select>
<div class="menu"><a href="#"><img src="{% static 'images/bars.png' %}"></a></div>
</div>

<div class="right">
<a href="#">ACCOUNT</a>
</div>
<input type="file">
<div class="logo"><a href="#"><img src="{% static 'images/lgo.png' %}"></a></div>
</div>
<!--navigation-End-->
<div class="content-container">

<div class="img-container">
<a href="#" onClick="document.getElementById('modal-wrapper').style.display='block'"><img src="{% static 'images/20221218_131443.jpg' %}" style="width: 1000px;"></a>

<button onClick="document.getElementById('modal-wrapper').style.display='block'"
><font style="font-weight:bold">3D</font> View</button>
</div>

<div class="text-container">
<h1><font color="#f44e52">911</font> Racing Car Porsche</h1>
<p>911 racing car powerd by porsche.This is a beautifull racing car and super fast speed</p>
<a href="#" class="price">$18200</a>
<div class="cart">
<select>
<option value="q1">1</option>
<option value="q2">2</option>
<option value="q3">3</option>
</select>
<a href="#">ADD TO CART</a>

</div>



</div>

</div>

<!--3d modal-->

<div id="modal-wrapper"  class="modal">
<div class="center">
<span onClick="document.getElementById('modal-wrapper').style.display='none'" class="close">&times;</span>
<div class="rotation">


<img src="{% static 'images/360/2.png' %}">
<img src="{% static 'images/360/3.png' %}">
<img src="{% static 'images/360/4.png' %}">
<img src="{% static 'images/360/5.png' %}">
<img src="{% static 'images/360/6.png' %}">
<img src="{% static 'images/360/7.png' %}">
<img src="{% static 'images/360/8.png' %}">
<img src="{% static 'images/360/9.png' %}">
<img src="{% static 'images/360/10.png' %}">
<img src="{% static 'images/360/11.png' %}">
<img src="{% static 'images/360/12.png' %}">
<img src="{% static 'images/360/13.png' %}">
<img src="{% static 'images/360/14.png' %}">
<img src="{% static 'images/360/15.png' %}">
<img src="{% static 'images/360/16.png' %}">
<img src="{% static 'images/360/17.png' %}">
<img src="{% static 'images/360/18.png' %}">
<img src="{% static 'images/360/19.png' %}">
<img src="{% static 'images/360/20.png' %}">
<img src="{% static 'images/360/21.png' %}">
<img src="{% static 'images/360/22.png' %}">
<img src="{% static 'images/360/23.png' %}">
<!-- <img src="{% static 'images/360/24.png' %}">
<img src="{% static 'images/360/25.png' %}">
<img src="{% static 'images/360/26.png' %}">
<img src="{% static 'images/360/27.png' %}">
<img src="{% static 'images/360/28.png' %}">
<img src="{% static 'images/360/29.png' %}">
<img src="{% static 'images/360/30.png' %}">
<img src="{% static 'images/360/31.png' %}">
<img src="{% static 'images/360/32.png' %}">
<img src="{% static 'images/360/33.png' %}">
<img src="{% static 'images/360/34.png' %}">
<img src="{% static 'images/360/35.png' %}">
<img src="{% static 'images/360/36.png' %}">
<img src="{% static 'images/360/37.png' %}">
<img src="{% static 'images/360/38.png' %}">
<img src="{% static 'images/360/39.png' %}">
<img src="{% static 'images/360/40.png' %}">
<img src="{% static 'images/360/41.png' %}">
<img src="{% static 'images/360/42.png' %}">
<img src="{% static 'images/360/43.png' %}">
<img src="{% static 'images/360/44.png' %}">
<img src="{% static 'images/360/45.png' %}"> -->





</div>

</div>
</div>



<script src="{% static 'js/360deg.js' %}"></script>
</body>
</html>
