@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-family:myriad pro;}
	a{
		text-decoration:none;}
		ul{
			list-style:none;}
	.navigation{
		margin:30px 20px;}

.menu {
	height:13px;
	margin:0px 20px;}
	.menu img{
		max-width:100%;
		max-height:100%;}
		.left{
			display:flex;
			float:left;
			align-items:center;}
			.left select{
				margin:0px;
				outline:none;
				padding:13px 8px;
				background-color:rgba(235,235,235,0.6);
				font-size:11px;
				font-weight:700;
				border:none;}
				.right{
					float:right;
					padding:10px 20px;
					background-color:#f44c52;
					border-radius:10px;}
					.right a{
						color:#fcfcfc;
						font-weight:bold;
						font-size:12px;}
						.logo{
							display:flex;
							justify-content:center;}
							.logo img{
								height:40px;
								}
								.content-container{
									position:relative;
									display:flex;
									align-items:center;
									flex-direction:row-reverse;
									justify-content:flex-end;
									margin:80px;}
									.img-container{
										height:450px;
										width:1027;
										display:flex;
										align-items:center;}
										.img-container img{
											
											max-height:100%;
											max-width:100%;
											
											}
											.text-container{
												display:flex;
												margin-right:auto;
												flex-direction:column;
												flex-wrap:wrap;
												width:600px;}
												h1{
													font-size:60px;
													margin:0px;
													padding:0px;
													font-family:bebas kai;
													letter-spacing:2px;
													color:#262626;}
													p{
														color:#a8a1a1;
														width:400px;}
														.price{
															color:#000000;
															font-size:40px;
															font-family:bebas kai;
															text-shadow:2px 2px 12px rgba(128,128,128,0.3);}
															.cart{
																margin-top:10px;
																position:absolute;
																bottom:0px;}
																.cart select{
																	padding:13px 35px;
																	border:1px solid rgba(176,176,176,1.00);
																	outline:none;}
	.cart a{
		color:#FFFFFF;
		background-color:#f44e52;
		text-decoration:none;
		text-shadow:0px 2px 12px rgba(0,0,0,0.3);
		padding:15px;
		width:200px;
		height:50px;
		font-weight:200;
		margin-left:20px;
		border-radius:5px;}
								
								
		.center{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			width:800px;}
			.center img{
				display:flex;
				margin:auto;}					
								
					.modal{
						display:none;
						position:fixed;
						z-index:1;
						left:0;
						top:0;
						width:100%;
						height:100%;
						overflow:auto;
						background-color:rgba(0,0,0,0.4);}			
								
					.close{
						font-size:35px;
						font-weight:bold;}
						.close:hover,.close:focus{
							color:red;
							cursor:pointer;}	
							button{
								background-color:#f44e52;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								width:200px;
								font-size:20px;
								position:absolute;
								bottom:0px;
								left:70%;
								transform:translateX(-70%);
								}
								button:hover{
									opacity:0.8;}		
								
								
								